{% extends "::base.html.twig" %}

{% block title %}CiviCRM active contributors{% endblock %}

{% block body %}
<h1>CiviCRM active contributors</h1>
<a href="{{ url('task_index') }}">Tasks</a>
{% endblock %}
