{% extends "::base.html.twig" %}

{% block title %}CiviCRM active contributors{% endblock %}

{% block body %}
    <h1>CiviCRM active contributor framework</h1>
    <p>The active contributor framework tracks <a href="{{ url('contributor_index') }}">contributors</a> and <a href="{{ url('task_index') }}">contributions</a> to CiviCRM.</p>
    <p><i>This is an early-days work in progress.  We are currently showing a very incomplete account of contributions to CiviCRM and are not ready for prime time.</i></p>
    <h2>Aims</h2>
    <p>The active contributor framework serves a central repository for the recording of contributors and tasks which can be queried by various consumers (e.g CiviCRM.org, your professional/personal website).</p>
    <h2>More info</h2>
    You can find out more about the framework (including a <a href="https://github.com/civicrm/civicrm-ac#todo">todo list</a> of outstanding tasks) on the <a href="https://github.com/civicrm/civicrm-ac">active contributor github repo</a>. Also check out the <a href="https://civicrm.org/blog/tags/community">CiviCRM blog community tag</a> for updates on progress.</p>
    <h2>Feedback and involvement</h2>
    <p>Feedback is welcome, especially on tasks that we should be recording but are not.</p>
    <p>You can help complete an accurate picture of contributions made to CiviCRM by joining the active contributor working group.</p>
{% endblock %}
