{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Contributor hall of fame</h1>
    <table>
        <tr>
            <th>Name (contactId)</th>
            <th>Number of tasks</th>
        </tr>
        {% for contributor in contributors %}
            <tr>
                <td>
                    <a href="{{ path('contributor_view', { 'contactId': contributor.contactId }) }}">
                        {{ contributor.name }}
                        ({{ contributor.contactId }})
                    </a>
                </td>
                <td>{{contributor.taskCount}}</td>
            </tr>
            <p></p>
        {% endfor %}
    {% endblock %}
